# dependencies
node_modules/

# build output (Nest/TS)
dist/
build/

# coverage
coverage/
.nyc_output/

# secrets / keys
keys/
**/keys/
*.key
*.pem
*.p12
*.pfx

# dotenv environment variable files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json